In [25]:
import pandas as pd

test = pd.read_excel("../data/test.xls", header=0,usecols='A,B,C,D,E,F', encoding='utf-8')
test.head()

      년도   월    일 오전/오후        시간/사람           내용
0  2020년  2월  27일    오후  9:41, 이호진 :           사진
1  2020년  2월  27일    오후  9:41, 이호진 :        귤 잼썻따
2  2020년  2월  27일    오후  9:41, 회원님 :       ㅋㅋㅋㅋㅋㅋ
3  2020년  2월  27일    오후  9:41, 이호진 :  ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
4  2020년  2월  27일    오후  9:42, 이호진 :        테런중??

TypeError: 'DataFrame' object is not callable

NameError: name 're' is not defined